@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 110, 110, 110;
  --background-end-rgb: 180, 180, 180;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 221, 221, 221;
    --background-start-rgb: 42, 42, 42;
    --background-end-rgb: 7, 7, 7;
  }
}

body {
	box-sizing: border-box;
	padding: 0;
  font-family: 'Open Sans', sans-serif;
	margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* .dim {
	background-color: rgba(0, 0, 0, 0.8);
}
.ReactCollapse--collapse {
	transition: height 500ms;
}
tr,
td,
th {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 10px;
	text-align: left;
	background-color: #fff;
}

table {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th {
	background-color: #93c5fd;
} */